body {
    text-align: center;
}

.container {
    display: inline-block;
}

.chessboard {
    user-select: none;
    display: grid;
    width: 800px;
    height: 800px;
    border: solid;
    margin-top: 50px;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
}

.black-square, .white-square {
    text-align: center;
    vertical-align: middle;
    font-family: chessFont;
    font-size: 85px;
}

.black-square {
    background-color: rgb(70, 96, 67);
}

.white-square {
    background-color: rgb(213, 196, 170);
}

.selected.black-square {
    background-color: rgb(41, 37, 32);
}

.selected.white-square {
    background-color: rgb(145, 134, 117);
}

@font-face {
    font-family: chessFont;
    src: url("../fonts/CHEQ_TT.woff")
}

